<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="container-fluid p-0  " >
   <div id="footerdiv">
    <div class="row mb-5 " >
        
        <div class="col-sm-2 offset-1">
            <b style="font-size:1.3em ;">Events & Bootcamp</b>
        </div>
        
        <div class="col-sm-2">
           
        </div>
        <div class="col-sm-2">
            <b style="font-size:1.3em ;">About Owlearn</b>
           
        </div>
        <div class="col-sm-2">
            <b style="font-size:1.3em ;">Contact</b>
          
        </div>
  
        <div class="col-sm-3">
          
        </div>
       

    </div>
    <div class="row  " >
        
        
        <div class="col-sm-2 offset-1">
            <p  >Web Development</p>
        </div>
        <div class="col-sm-2">
            <p >Communication</p>
        </div>
        <div class="col-sm-2">
            <p>Admission Info</p>
        </div>
        <div class="col-sm-1">
            <a href="" style="text-decoration: none; " class="linkfooter">support@edteach.com</a>
        </div>
        <div class="col-sm-2">

        </div>
     </div>
        <div class="row  " >
           
            
            <div class="col-sm-2 offset-1">
                <p >Mobile Development</p>
            </div>
            <div class="col-sm-2">
                <p >Video Produuction</p>
            </div>
            <div class="col-sm-2">
                <p >Article</p>
            </div>
            <div class="col-sm-2">
                <a href="" style="text-decoration: none; " class="linkfooter">(+62) 85923935983</a>
            </div>
            <div class="col-sm-1">
    
            </div>
        </div>
       <div class="row  " >
                
                
                <div class="col-sm-2 offset-1">
                    <p >UI Design</p>
                </div>
                <div class="col-sm-2">
                    <p>Digital Marketing</p>
                </div>
                <div class="col-sm-2">
                    <p>Group & Referral Program</p>
                </div>
                <div class="col-sm-2">
                    <p>Loerm ipsum dolor sit amet,<br/>
                    consectet adipisicing elit</p>
                </div>
                <div class="col-sm-1">
        
                </div>
       </div>

       <div class="row  " >
                
                
        <div class="col-sm-2 offset-1">
            <p >UI Research</p>
        </div>
        <div class="col-sm-2">
            <p>Branding</p>
        </div>
        <div class="col-sm-2">
            <p>Careers</p>
        </div>
        
        <div class="col-sm-3">

        </div>
      </div>

      <div class="row  " >
                
                
        <div class="col-sm-2 offset-1">
            <p >Presentation</p>
        </div>
        <div class="col-sm-2">
            
        </div>
        <div class="col-sm-2">
            
        </div>
        
        <div class="col-sm-3">
            <i class="fa fa-instagram " ></i>
            <i class="fa fa-twitter ms-3"></i>
            <i class="fa fa-linkedin ms-3"></i>
            <i class="fa fa-youtube-play ms-3"></i>
        </div>
      </div>
      </div>
                
                <div class="row  " id="copyrigth" >
                    <div class="col-sm-4">
            
                    </div>
                    
                
                    <div class="col-sm-4" >
                        <p style="color: white;">Copyright @ 2021 Owlearn. All Rights reserved</p>
                    </div>
                  
                    <div class="col-sm-4">
            
                    </div>
                </div>

</footer>





