
  <nav class="navbar navbar-expand-lg navbar-light bg-white ">
    <div  class="container-fluid d-flex"  >
        
      <div id="flogo">
        <img width="17%" src="assets/flogo.jpg" class="img-fluid" alt="Wild Landscape" />
       <img  width="22%" src="assets/Owlearn.jpg" class="img-fluid"  alt="Wild Landscape" />
      </div>
   
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item  ">
            <a class="nav-link" routerLinkActive="active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item ms-4">
            <a class="nav-link" routerLinkActive="active" href="#">Bootcamp</a>
          </li>
          <li class="nav-item  ms-4">
            <a class="nav-link" routerLinkActive="active" href="#">Events</a>
          </li>
          <li class="nav-item  ms-4">
            <a class="nav-link" routerLinkActive="active" href="#">Article</a>
          </li>
          <li class="nav-item  ms-4">
            <a class="nav-link" routerLinkActive="active" href="#"  >Contact Us</a>
          </li>
          <button type="button" id="fbtn" class="btn   ms-4" (click)="PopUpEmail()" data-mdb-ripple-color="dark"><a id="contactusbtnlink">Contact Us</a></button>
        </ul>
      
      </div>
      
    </div>
  </nav>