<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
  
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="user-profile">
          
    
        
        </div>
        <ul class="nav" style="margin-top:50px ;">
          <li class="nav-item">
            <a class="nav-link" routerLink="/Home" routerLinkActive="active">
              <i class="icon-head menu-icon"></i>
              <button style="background-color:#ec37fc;border: #ec37fc;color: white;">Home</button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Authen/Admins" routerLinkActive="active">
              <i class="icon-head menu-icon"></i>
              <button style="background-color:#ec37fc;border: #ec37fc;color: white;">Admins</button>
            </a>
          </li>
         
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/Products" routerLinkActive="active">
              <i class="icon-file menu-icon"></i>
              <button style="background-color:#ec37fc;border: #ec37fc;color: white;">Products</button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Basic/ContactUs" routerLinkActive="active">
              <i class="icon-file menu-icon"></i>
              <button style="background-color:#ec37fc;border: #ec37fc;color: white;">Contactus</button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Basic/AboutUs" routerLinkActive="active">
              <i class="icon-file menu-icon"></i>
              <button style="background-color:#ec37fc;border: #ec37fc;color: white;">Aboutus</button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Authen/Register" routerLinkActive="active">
              <i class="icon-head menu-icon"></i>
              <button style="background-color:#ec37fc;border: #ec37fc;color: white;">Register</button>
            </a>
          </li>
         
          <li class="nav-item" [hidden]="isuserlogged">
            <a class="nav-link" routerLink="/Authen/Login" routerLinkActive="active">
              <i class="icon-head menu-icon"></i>
              <button style="background-color:#ec37fc;border: #ec37fc;color: white;" >Login</button>
            </a>
          </li>
       
        
         
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
         
          <div class="row mt-10"style="height:600px ;width:50px ;" >
            
            <div class="col-xl-12 d-flex grid-margin stretch-card" >
              <form class="m-10"  (ngSubmit)="Login()" style="background-image: url('assets/th.jpg'); background-repeat: no-repeat;background-size: 110%">
                
                <div class="col-7 mb-5">
                  <label for="fName" class="form-label"><b style="font-size:25px ;">Full Name</b></label>
                  <input type="text" [(ngModel)]="Username" class="form-control" style="background-color:white;width: 50em;" name="fName" placeholder="Enter Your Name" id="fName" >
                 
              
                </div>
               
                <div class="col-7 mb-5">
                  <label for="uPass" class="form-label"><b  style="font-size:25px ;">Password</b></label>
                  <input type="password" style="width: 50em;background-color: white;"  [(ngModel)]="password" class="form-control" name="uPass" id="uPass" placeholder="Enter Password" >
                
                </div>
                
                <button  type="submit" class="btn btn-success " style="background-color: black;width: 100px;">Submit</button>
              
              </form>
            </div>
          </div>
       
          
     
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid " style="width: 98.5%;;margin-left: 11px" id="footerdiv">
  
            <div class="row ">
              
                <div class="col-3 offset-5 mt-5" >
                    <p id="parag">@copy right 2022</p>
                </div>
                
            </div>
         
        </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

 
</body>
</html>