<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class=" container-fluid d-flex justify-content-around mt-5 ms-5 mb-5" >
  <div class="fdiv  ">
        <p style="margin-top: 22%;margin-bottom: 6%;">
          <b style="font-size: 4em;" >Learn Any Skills<br/>
          To Advance Your<br/>
          Career Path</b>

        </p>
        <img class="mb-5" src="assets/Vector.jpg" class="img-fluid"  alt="Wild Landscape" />
        <p  class=" mb-5" id="spara">
         Want to improve your work skills? you need to study<br>
         harder with the help of great mentor to improve<br>
         your performance at work
        </p>
        <div  id="tdiv">
          <button type="button" id="fbtn" class="btn" data-mdb-ripple-color="dark"><a id="explorelink">Explore Path</a></button>
          <img   src="assets/rate.jpg" class="img-fluid ms-4"  alt="Wild Landscape" />
        </div>
  </div>
  <div class="sdiv ">
    <img   src="assets/Learning - Video Course.jpg" class="img-fluid"  alt="Wild Landscape" />
  </div>
</div>

<div class=" container-fluid d-flex justify-content-around mt-5 mb-5 " id="forthdiv">

     <h1 style="font-size: 1.7em;">We Partner With More<br/>
     Than 10+ companies</h1>
  
  <img   src="assets/Logo.jpg" class="img-fluid ms-4"  alt="Wild Landscape" />
</div>

<div class="container-fluid  d-flex  mt-5 " id="fifdiv" >
  <div id="experinceimg"> 
    <img width="50%" alt="example" class="img-fluid rounded" src="assets/online-course-of-study.jpg"/>
    <div id="location">
      <b >Educational technology</b>
      <br/>
      <div style="opacity: .8;font-size: .8em;color: whitesmoke;"><i class="fa fa-map-marker" ></i>Jakarta, Indonesia</div>
    </div>
  </div>
 
  <div id="experince" >
    <div>
           <h1 class="mb-4"><b>Owlearn helps you become<br/>
           Experienced</b></h1>
  
  
  
           <p>
            owlearn provides e-learning solutions for companies.<br/>
            universities and individual professionals. It allow users to <br/>
            create courses. and provides an integrated learning <br/>
            management system. Its offerings include digital course <br/>
            tools, study materials . IT infrastructure and other <br/>
            operations.
          </p>
          <button type="button" id="fbtn" class="btn mt-3" data-mdb-ripple-color="dark"><a id="explorelink">Become a Member</a></button>
   </div>
  
</div>
</div>


<app-course-and-boot-camp></app-course-and-boot-camp>

<div class="  d-flex justify-content-around mt-5  mb-5 " id="Expertdiv">
  <div>
    <p  class=" mb-5 mt-5" style="font-size: 2em;">
      Still Confused About Your<br/>
      Career Choice? Consult With<br/>
      Our Experts
     </p>
     <button type="button" id="expertbtncontact"  class="btn mb-5" (click)="PopUpEmail()" data-mdb-ripple-color="dark"><a id="expertlinkcontact">ContactUs</a></button>
  </div>
  <div>
    <img width="79%" alt="example" style="margin-left: 15%;" class="img-fluid rounded mt-5 " src="assets/labtop.jpg"/>
    
  </div>
  
</div>

    <h1 id="Graduatework" ><b>Our graduates have worked in</b></h1>
<section  class=" container-fluid d-flex   mb-5 " >
  
  
  <div id="imageswork">
    <img class="imagework" alt="example"  src="assets/Clicup.jpg"/>
    <img  class="imagework" alt="example"  src="assets/dropbox.jpg"/>
    <img  class="imagework" alt="example"  src="assets/Elastic.jpg"/>
    <img  class="imagework" alt="example"  src="assets/GitHub.jpg"/>
    <img  class="imagework" alt="example"  src="assets/FreshBooks.jpg"/>
    <img  class="imagework" alt="example"  src="assets/helpscout.jpg"/>
    <img   class="imagework" alt="example"  src="assets/HubSpot.jpg"/>
    <img  class="imagework" alt="example"  src="assets/intuit.jpg"/>
    <img  class="imagework" alt="example"  src="assets/Google Workspace.jpg"/>
    <img  class="imagework" alt="example"  src="assets/Paychex.jpg"/>
    <img  class="imagework" alt="example"  src="assets/Salesforce.jpg"/>
    <img  class="imagework" alt="example"  src="assets/SAP.jpg"/>
    <img  class="imagework" alt="example"  src="assets/Segment.jpg"/>
    <img  class="imagework" alt="example"  src="assets/ServiceNow.jpg"/>
    <img  class="imagework" alt="example"  src="assets/shopify.jpg"/>

  </div>
</section>


<app-about-us></app-about-us>
