
fdiv{
  flex-grow: 5;
 
}
sdiv{
  flex-grow: 4;
}
#fbtn{
  border: 2px solid #DC4298;
  background-color:#DC4298; 
  color: white;
}

#spara{
  margin-top: 18%;
}
#tdiv{
  margin-top: 18%;
}
#forthdiv{
  margin-left: 4.5%;

}
#explorelink:hover{
  border-bottom: 2px solid white;
}
#fifdiv{
  margin-left: 10.3%;
}
#experinceimg{
  flex-grow: 1;
}

#experince{
  flex-grow: 3;
}
#location{
  position: relative;
  bottom:  45px;
  left: 16px;
  color: white;
}

#Expertdiv{
  background-color:#DC4298 ;
  color: white;
  margin-left: 0px;
  margin-right: 0px;
 height: 9%;
}
#expertbtncontact{
  background-color:white ;
  color: #DC4298;
}
#expertlinkcontact:hover{
  border-bottom: 2px solid #DC4298;

}

#Graduatework{
  text-align: center;

}
#imageswork{
  
 margin-left: 15%;
  width: 70%;
}
.imagework{
  width:20%;

}
