.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 
 
  text-align: center;
  font-family: arial;
}
#content{
  position: relative;padding: 3%;left:25%;height: 500px;width: 50%;background-color:white; 
}


#closebtn{position: relative;left:17em;bottom: 11%;}
 