#showbtn{
    border: 2px solid #DC4298;
    color:#DC4298; 
    margin-left: 50%;
    
  }
  #showbtnlink:hover{
    border-bottom: 2px solid #DC4298;
  }
  #sixdiv,#sixdiv2{
    margin-left: 10.5%;
    
  }
  
  .btngrp{
    
    text-align: center;
    font-size: 18px;
    padding: 14px;
    border-radius: 29px;
    border: 1px solid gray;
   
  }
  
  .btngrp:hover{
    color: white;
    background-color:#DC4298 ;
    border: 1px solid #DC4298;
     
    
  }
  #line{
    margin-left: 12%;
    width: 80%;
  }
  .cardmoney{position: relative;bottom: 28%;left:23%;width: 20%;font-weight: 700;border: 1px solid black;}
  #showbtn2{
    border: 2px solid #DC4298;
    color:#DC4298; 
    margin-left: 60%;
    position: relative;
    bottom: 68%;
  }
  #emptydiv{
    
    font-size: 4em;
    margin-left: 25%;
    
  }