
    <body style="margin-bottom:80px ;background-color: grey">
        <div class="container-fluid">
            
       <div class="row">
           <div class="col-6">
                           <form  (ngSubmit)="SaveProduct(newproduct)">
                            <div class="mb-3">
                              <label for="PID" class="form-label"><b>Product ID:</b></label>
                              <input type="number" name="PID" id="PID" class="form-control"  [(ngModel)]="newproduct.id" placeholder="Enter Product ID"  minlength="3" aria-describedby="helpId">
                              <small id="helpId" class="text-muted"></small>
                            </div>     
                            <div class="mb-3">
                                <label for="PName" class="form-label"><b>Product Name:</b></label>
                                <input type="text" name="PName" id="PName" class="form-control" [(ngModel)]="newproduct.name" placeholder="Enter Product Name" required minlength="10" aria-describedby="helpId">
                                <small id="helpId" class="text-muted"></small>
                            </div>  
                            <div class="mb-3">
                                <label for="PQuantity" class="form-label"><b>Product Quantity:</b></label>
                                <input type="number" name="PQuantity" id="PQuantity" class="form-control" [(ngModel)]="newproduct.quantity" placeholder="Enter Product Quantity" required minlength="3" aria-describedby="helpId">
                                <small id="helpId" class="text-muted"></small>
                            </div>  
                            <div class="mb-3">
                                <label for="PPrice" class="form-label"><b>Product Price:</b></label>
                                <input type="number" name="PPrice" id="PPrice" class="form-control" [(ngModel)]="newproduct.price" placeholder="Enter Product Price" required minlength="8" aria-describedby="helpId">
                                <small id="helpId" class="text-muted"></small>
                            </div>                        
                            <div class="mb-3">
                                <label for="PCat" class="form-label"><b>Select Catogry:</b></label>
                                <select required  [(ngModel)]="newproduct.CateogryiD" name="PCat" id="PCat">
                                
                                    <option *ngFor="let item of Catogrylist" [ngValue]="item.id">{{item.name}}</option>
                                    
                                </select>
                            </div>   
                            <div class="mb-3">
                                <label for="Pimg" class="form-label"><b>Product Image:</b></label>
                                <input type="file" name="Pimg" id="Pimg" class="form-control"  required  aria-describedby="helpId">
                                <small id="helpId" class="text-muted"></small>
                            </div>                      
                            <button type="submit" class="btn btn-success" id="btn" >Submit</button>
                            <button type="button" class="btn btn-success" id="btn" (click)="CancelAction()" >Cancel</button>
                            </form>
                        </div>
                        <div class="col-6" style="margin-top:80px ;">
                            <img src="assets/Admin.jpg" id="logoimg"  class="img-fluid" alt="Logo" width="100%" >
                        </div>
                    </div>
                </div>
            </body>