




<table mat-table [dataSource]="newarray" class="mat-elevation-z8">

 
  <ng-container matColumnDef="id" >
    <th mat-header-cell *matHeaderCellDef style="background-color: black;"><b style="font-size: 30px;color: aliceblue;">ProductId</b></th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.quantity==1?'yellow':'lightgrey'}" appRoundedshadowborder><b style="font-size: 30px;">{{element.id}}</b></td>
  </ng-container>

 
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef style="background-color: black;"><b style="font-size: 30px;color: aliceblue;">ProductName</b></th>
    <td mat-cell *matCellDef="let element" id="in" [ngStyle]="{'background-color':element.quantity==1?'yellow':'lightgrey'}" appRoundedshadowborder><b> {{element.name}}</b> </td>
  </ng-container>

  
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef style="background-color: black;"><b style="font-size: 30px;color: aliceblue;">ProductQuantity</b></th>
    <td mat-cell *matCellDef="let element" id="in" [ngStyle]="{'background-color':element.quantity==1?'yellow':'lightgrey'}" appRoundedshadowborder> 
      <div id="in" *ngIf="element.quantity!=0;else Outofstock" ><b >{{element.quantity}} item</b></div>
      <ng-template id="in" #Outofstock><b style="color:red ;">Outofstock</b></ng-template>
    </td>
  </ng-container>

 
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef style="background-color: black"><b style="font-size: 30px;color: aliceblue;">ProductPrice</b></th>
    <td mat-cell *matCellDef="let element" id="in" [ngStyle]="{'background-color':element.quantity==1?'yellow':'lightgrey'}" appRoundedshadowborder><b>{{element.price|currency:'EGY'}}</b> </td>
  </ng-container>

  <ng-container matColumnDef="img">
    <th mat-header-cell *matHeaderCellDef style="background-color: black;"><b style="font-size: 30px;color: aliceblue;">Productimage</b></th>
    <td mat-cell *matCellDef="let element" id="in" [ngStyle]="{'background-color':element.quantity==1?'yellow':'lightgrey'}" appRoundedshadowborder><img [src]="element.img" width="60%" ></td>
  </ng-container>

  <ng-container matColumnDef="actions1" >
    <mat-header-cell  *matHeaderCellDef style="background-color: black;height: 60px;"><b style="font-size: 30px;color: aliceblue;">Click For</b> </mat-header-cell>
    <mat-cell *matCellDef="let row" style="background-color:lightgrey ;height: 180px;">
      <button class="btn" (click)="PoPUPtheproduct(row)"  id="btn"><b style="font-size:20px ;color: aliceblue;">Details</b></button>
    <a><button class="btn"  (click)="Edit(row.id)" id="btn"><b style="font-size:20px;color: aliceblue;">Edit</b></button></a>
    <a ><button  class="btn"  (click)="Delete(row)" id="btn"><b style="font-size:20px;color: aliceblue;">Delete</b></button></a>
    </mat-cell>
  </ng-container>


   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
</table>