

<section class="container-fluid  d-flex mt-5 mb-5" id="Aboutdiv" >
    <div id="experinceimg"> 
      <img width="75%" alt="example" class="img-fluid rounded" src="assets/About.jpg"/>
      
    </div>
   
    <div>
      
             <h1 class="mb-4"><b>What Did They Say</b></h1><br/>
             
             <p>
              Higher education in the era of the industrial revolution 4.0<br/>
              requies breakthrough learning using digital platforms that<br/>
              answer the challenges of millennial students to study <br/>
              anywhere, anytime and with leading-edge ICT technology. <br/>
              From Student recruitment to teaching and learning<br/>
              adminstration processes.
            </p>
            <hr>

            
            <h1 style="font-size:1.3em ;">Briana Patton</h1>
            <p>Designer at salesforce</p>
           
           
            <button type="button" id="circlebtn" class="btn mt-3" data-mdb-ripple-color="dark"><i class="fa fa-arrow-right" style="font-size:15px;"></i></button>
            
       
        </div>
  
</section>
